body { 
    font-family: Arial, sans-serif; 
}

#lienzo { 
    width: 100%; 
    height: 500px; 
    border: 5px solid black; 
    position: relative; 
}

.pixel { 
    position: absolute;
     width: 5px; 
     height: 5px; 
    }
